src/*target*
.cache
.classpath
project/target
project/project/target
target
.project
.settings
backup.sbt
/bin
hbase-site.xml
*.snapshot
.idea
*.iml
log_messages.txt
logs
*.owl
catalog-v001.xml
testFile
*.DS_Store
/hs_err_pid*.log
compare/
snapshots/
journal*/
